@tailwind base;
@tailwind components;
@tailwind utilities;

/* 消除所有元素的默认边距和填充，确保盒子模型一致 */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* 隐藏滚动条 (用于全息 HUD 界面) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}